</div><!-- /.container -->
<footer class="footer">
  <div class="container">
	<p class="text-muted">&copy; ShopKarting 2018 | <a href="/carts">Home</a> | <a href="/carts/new">New Cart</a></p>
  </div>
</footer>
</body>
</html>

 