<!DOCTYPE html>
<html>

    <head>
        <title> Shop-Kart </title>
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel = "stylesheet" type ="text/css" href ="/stylesheets/main.css">
                <link rel = "stylesheet" type ="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

    </head>
    <body class = "help">
        <div>

        <ul id = "help">

            <li>In order to sell your products first sign up.</li>

            <li>Go to the link add a new Cart and put the necesary details and submit</li>

            <li> Only You can  edit the cart which u have uploaded n no one else. In THE COMMENT SECTION  u can PUT your address or any other details necessary for the buyer to know u.</li>

            <li>Decribe the details of your product in the description including the amount at which u want to sell your it.</li>

            <li>The ones who want to buy can click on "more info" button. A show template will appear showing the full  details of the product. Go to the button saying "Ask the seller".
            And put your details so that the seller can identify you.</li>

            <li>Since my sole intention  in making thia app is to help  the college students only therefore its better that u put you college details like your name, roll no etc</li>
            <li>Just open the app and search the product which you want and put your details and thats it.</li>

            <li>I Hope u liked it....</li>



            <li>Working on the android version as well as the push notificatiion effect  of this site. Within a month or two u will get it as well.</li>

        </ul>

<a href = "/carts" style="color:blue">Go Back</a>
        </div>
</body>
