<!DOCTYPE html>
<html>

    <head>
        <title> Shopkarting </title>
       <link href = 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type = 'text/css'>
            <link rel = "stylesheet" type ="text/css" href ="/stylesheets/help.css">
            <style>
            body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: Source Sans Pro;
                list-style: none;
}
                .quote {
                border-left: 5px solid #bdc3c7;
                padding-left: 5px;
            }

</style>


    </head>
    <body>
        <div class = "post">


            <h1 class = "quote">Instructions for easy transcaction!</h1>
            <ul >
            <p><li>In order to sell your products first sign up.</li><p>
                <hr>

            <p><li>Go to the link add a new Cart and put the necesary details and submit</li></p>
                    <hr>

            <p><li> Only You can  edit and delete yur cart. In THE COMMENT SECTION  u can PUT your address, phone number or any other details necessary for the buyer to know u.</li></p>
                        <hr>
            <p><li>Decribe the details of your product in the description including the amount at which u want to sell your it.</li></p>
                            <hr>

            <p><li>The ones who want to buy can click on "more info" button. A show template will appear showing the full  details of the product. Go to the button saying "Ask the seller".
            And put your details so that the seller can identify you.</li></p>
                                <hr>

            <p><li>Since my sole intention  in making this app is to help  the college students only therefore its better that u put you college details like your name, roll no etc</li></p>
                                    <hr>
            <p><li>Just open the app and search the product which you want and thats it.</li></p>

                                        <hr>




            <p><li>Working on the android version and some other functionalities as well and to i hope to provide it as soon as possible.  </li></p>
                                                <hr>
        </ul>

<a href = "/carts" style="color:blue">Go Back</a>
        </div>
</body>
