
<html>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel = "stylesheet" type = "text/css" href = "/stylesheets/app.css">
    <body id = "front-page">
        <header>
            <div id = "content">
                <h2>Shop-Kart</h2>
            </div>
            <nav>

            </nav>
            </header>



        <section class = "hero">
            <div class = "background-image" style = "background-image: url(https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67898e3724d653a9447e96c2a2096196&auto=format&fit=crop&w=500&q=60);"></div>
            <div class = "hero-content-area">
                <h1>Shop-Kart</h1>
                <h3>Sell your old enginnering materials exclusively on Shop-Kart</h3>
                <h2><a href = "/carts"><i class = "fa fa-paw"></i>View all carts </a></h2>
                </div>
            <section class = "destinations">

                <p class = "imp">Tired to find your desired engineering materials at low cost? How about buying from your own college students who own what you want and they do want to sell it.
                    <strong>Shopping Cart</strong> provides you the platform where u can get easy access from whom you can buy your desired product. Search the product you want to buy and know the seller details inorder to buy it.
                    So lets go and have a nice journey in the <strong>Shop-Kart!!!</strong></p>
                <hr>
                    <h3 class = "title">Some of the things which u can buy and sell here:</h3>
                    <ul class = "grid">
                        <li>Engineering drawing materials </li>
                        <li>Apron for chemistry lab </li>
                        <li>Organizer </li>
                        <li>Books and many more...</li>

                    </ul>


            </section>
            </section>








                </body>

</html>
