<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1"> -->

                <meta charset="UTF-8">
                <meta name="viewport"
                      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
          
                <title>Shopkarting</title>
          
          
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
            <!-- <link rel="stylesheet" href="/src/css/app.css">
            <link rel="stylesheet" href="/src/css/feed.css"> -->
            <!-- <link rel="manifest" href="public/manifest.json"> -->
            <link rel="manifest" href="/manifest.json">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="#DC0512">
            <meta name="apple-mobile-web-app-title" content="DREAMSTORE">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart24.png" sizes="24x24">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart48.png" sizes="48x48">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart96.png" sizes="96x96">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart144.png" sizes="144x144">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart192.png" sizes="192x192">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart256.png" sizes="256x256">
            <link rel="apple-touch-icon" href="/public/src/images/icons/cart384.png" sizes="384x384">
            <meta name="msapplication-TileColor" content="#DC0512">
            <meta name="theme-color" content="#3f51b5">
          
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-7481271697489122",
                        enable_page_level_ads: true
                    });
                    </script>


                    <title>Shopkarting</title>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                        <link rel="stylesheet" href="/stylesheets/home.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

        <div id="landing-header">
            <h2>Welcome to Shopkarting! </h2>
                <h3>Sell and buy pretty much every engineering material including books. So lets go...</h3>
            <a href="/carts" class="btn btn-lg btn-default">Get Started</a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>

    </body>
</html>