<% include ../partials/header %> 

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/carts/<%= notification.cartId %>">
			<%= notification.username %> created a new Product %>
		</a>
	</li>

	
	<% }); %>
</ul>

<% include ../partials/footer %> 