<% include ../partials/header %>

<body class = "index-cart">



<div class = "container">
<header class = "jumbotron">
    <div class = "container">



            <h2 id = "head">Shopkarting.</h2>
            <% if(currentUser) { %>
            <p>View our products posted from different students... </p>
            <% }  else { %>

            <p>View our products posted from different students... </p>
            
            <p><i class="fa fa-bell" aria-hidden="true"></i>Remember to <strong><a href="/register">Sign up</a></strong> in order to post ur product<i class="fa fa-bell" aria-hidden="true"></i></p>
            <% } %>


            <p>
                <a class = "btn btn-default btn-large" href = "/carts/new">Add new product</a>
            </p>
            <p>
                <form action = "/carts" method = "GET" class = "form-inline">
                    <div class = "form-group">
                        <input type = "text" name = "search" placeholder = "Product search..." class = "form-control">
                            <input type = "submit" value = "Search" class = "btn btn-default">

                        </div>
                    </form>
            </p>
        </div>
        </header>










        <div class = "row text-center" style ="display:flex; flex-wrap: wrap;">
        <% carts.forEach(function(cart){ %>
        <div class = "col-md-3 col-sm-6">
        <div class = "thumbnail">
                <div class = "item blue">
        <img src = "<%= cart.image %>">

        <i class = "fa fa-camera"></i>

        <div class = "caption">
        <h4><%= cart.name%></h4>
        </div>
        <p>
        <a href = "/carts/<%= cart._id %>" class = "btn btn-success">More Details</a>
            <strong>Rs.<%=cart.price%></strong>
        </p>
        </div>
        </div>
        </div>
        <% }); %>
    </div>

</div>



</body>

    <% include ../partials/footer %>