<% include ../partials/header %>
<style>
        .jumbotron {
            color: black;
            background-color: #fff;
            
        }


         hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

</style>


<body class = "new-cart">
<div class = "container">
    <div class = "row">
        <header class = "jumbotron">
        <h1 style = "text-align: center">Create a new Product</h1>
        <div style = "width:100%; margin: 25px auto;">



            <form action = "/carts" method ="POST" enctype = "multipart/form-data">
                <div class = "form-group">
                    <input class = "form-control" type = "text" name = "cart[name]" placeholder = "cart name">
                </div>
                <div class = "form-group">
                    <label for = "image">Image</label>
                    <button class = "btn  btn-primary"><input type = "file" name = "image" accept = "image/*" required></button>
                </div>



                <div class = "form-group">
                    <input class ="form-control" type = "text" name = "cart[description]" placeholder = "details">
                </div>


                <div class = "form-group">
                    <input class ="form-control" type = "text" name = "cart[price]" placeholder = "Price">
                </div>



                <div class = "form-group">
                    <button class = "btn  btn-primary"> Upload! </button>
                </div>
            </form>
            <a href = "/carts" style="color:blue">Go Back</a>
           
        </div>
    </div>
</div>
    </header>
</body>

<% include ../partials/footer  %>